@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*__________________*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.partedahome{
    width: 100%;
    height: 80px;
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color:  #63724F;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    position: fixed;
    z-index: 999;
}
.logo{
    font-size: 19px;
    color: #fff;
    margin-left: -40px;
    margin-top: 20px;
}
nav{
    color: white;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-transform: uppercase;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    background: #96ad79;
    
}
nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}
.BotaoAnimais:hover, .BotaoSobre:hover, .BotaoContato:hover, .BotaoHome:hover{
background-color: #96ad79;
transition: 1.0s;
transform: scale(1.1); 
}
.linhabranca{
    width: 100%;
    height: 3px;
    background-color: #fff;
    z-index: 99;
    position: fixed;
}
/*______________*/
.ImagemPrincipal{
    width: 100%;
    height: 500px;
    position: relative;
}
.TextoEmcimaImagem{
        position: absolute; 
        top: 80px; 
        left: 100PX; 
        background-color: rgba(99, 114, 79, 0.7); 
        padding: 60px; 
        z-index: 1; 
        text-transform: uppercase;
        font-size: 50px;
        border-radius: 50px;
}
.TextoEmcimaImagem .colorWhite {
    color: #fff;
}
.IMG{
    width: 100%;
    height: 100%;
    display: block;
}
/*___________________________*/

.TextoQuemSomos > p{
    text-align: justify;
    padding-right: 30px;
}
/*________________________*/

.SobreDoacao{
    width: 50%;
    height: 650px;
    float: left;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}
.QuemSomosNos{
    color: #63724F;
    font-size: 55px;
    margin-top: 40px ;
    width: 100%; 
    padding-left: 30px;
}
.TextoQuemSomos{
    color: #63724F;
    font-size: 25px;
    margin-top: 80px ;
    padding-left: 30px;
    width: 100%;
}
.ImgSobreDoacao{
    width: 50%;
    height: 650px;
    float: left;
}
.ImgSobreDoacao > img{
    width:80%;
    overflow: hidden;
    margin-top: 16%;
    margin-left: 13%;
}

/*____________________________*/
.ParteSobreDoacao{
    width: 100%;
    height: 600px;
    display: flex;
}

.ParteUMQuemSomos{
    width: 50%;
    height: 600PX;
}
.TituloQuemSomos{
    color: #63724F;
    font-size: 55px;
    margin-top: 40px ;
    width: 100%; 
    margin-left: 7%;
}
.TextoQuemSomosEDepe{
    color: #475237;
    font-size: 25px;
    text-align: justify;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    
}
.ParteDoisQuemSomos{
    width: 50%;
    height: 600px;
    float: left;
}

.img1ParteDoisQuemSomos{
    width:53%;
    overflow: hidden;
    margin-top: 5%;
    margin-left: 30%;
}
.img2ParteDoisQumSomos{
    width:53%;
    overflow: hidden;
    margin-top: 1%;
    margin-left: 30%;
}

/*__________________________*/
.midia1{
    width: 50%;
    height: 350px;
    float: left;
    background-color: #63724F;
    color: #475237;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
}
.siga{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 70px;
}
.midia2{
    width: 50%;
    height: 350px;
    float: left;
    background-color: #63724F;
    align-items: center;
    justify-content: center;
    display: flex;
   
}
.LogoInstagram{
    width: 90px;
    height: 90px;
    display: flex;
    margin-right: 100px;
    cursor: pointer;
}
.AumentaTamanho:hover{
    background-color: #96ad79;
    color: #000;
    transition: 1.0s;
    transform: scale(1.2);
    border-radius: 50%;
}
.AumentaTamanhoInsta2:hover{
    background-color: #96ad79;
    color: #000;
    transition: 1.0s;
    transform: scale(1.2);
    border-radius: 40%;
}
.LogoFecebook{
    display: flex;
    width: 90px;
    height: 90px;
}
.LogoWhatsapp{
    display: flex;
    width: 90px;
    height: 90px;
    margin-left: 100px;
}

/*_________________________________*/
.ParteMapasEscritas{
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.escritasAoLadoDoMapaDeLocalizacao{
    width: 50%;
    height: 400px;
}
.tituloVenha{
    font-size: 50px;
    color: #475237;
    margin-top: 30px ;
    margin-left: 50px;
}
.imgiconMapa{
    margin-left: 90px;
    margin-top: 30px;
    cursor: pointer;
}
.imgiconMapa:hover{
    transition: 1.0s;
    transform: scale(1.2);
}
.textoems{
    width:100%;
    height:200px;
    color: #475237;
    font-size: 20px;
    padding-left: 50px;
}
.mapa{
    width: 40%;
    height: 400px;
    align-items: center;
    justify-content:center ;
    display: flex;
}
.rodape{
    width: 100%;
    height: 80px;
    background-color: #475237;
    z-index: 99999;
    display: flex;
    color: #fff;
}
.imgRodapeP1{
    width: 33PX;
    margin-left: 20px;
}
.rodapeP1{
    width: 33%;
    height: auto;
    margin-left: 20px;
    margin-top: 7px;
}
.rodapeP2{
    width: 34%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}   

/*_____________*/
.ParteAnimal{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.partetotaldacaixacomescrita {
    position: relative;
    width: 250px;
    height: 180px;
    overflow: hidden;
    margin: auto;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}
.buttonPrev {
    position: absolute;
    left: 10%;
    top: 70px; 
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
}
.buttonNetx {
    position: absolute;
    right: 10%;
    top: 70px;
    transform: translateX(50%);
    background-color: transparent;
    border: none;
}
/*-----------------*/
.NomedoAnimal{
    font-size: 20px;
    margin-left: 20px;
}
.TipodoAnimal{
    font-size: 17px;
    opacity: 0.7;
}
.TipodoAnimalDivPrincipal{
    margin-top: 10px;
    margin-left: 20px;
}
.PortedoAnimal{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.PortedoAnimalDivPrincipal{
    margin-top: 10px;
}
.EscritasDosAnimais{
    font-family: Poppins,sans-serif;
    margin-top: 20px;
}
.BotaodeAbrirCaixaDeAnimais{
    margin-top: 40px;
}
.botaodeabrir{
    margin-left: 14px;
    width: 220px;
    height: 30px;
    background-color: rgb(110, 160, 30);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.PartteCaicinhaEscrita{
    width: 250px;
    height: 200px;
    background-color: rgb(181, 235, 177);
    display: flex;
}
.DepoimentoPessoa{
    width:50%;
    height:auto;
    float:left;
}
.SobreDoacao{
    width:100%;
    height:auto;
}

.ParteImgDepoimento{
    width:50%;
    height:auto;
    float:left;
}
.ImgSobreDoacao{
    width: 100%;
    float: left;
}
.imgsobre2{
    width: 100%;
    height: 260px;
    overflow: hidden;
    margin-top: 50px;
}
/*_______________________________*/

@media screen and (max-width: 1100px) {
    .rodape{
        width: 100%;
        height: 120px;
        background-color: #475237;
        z-index: 99999;
        display: flex;
        color: #fff;
    }
    .ParteSobreDoacao{
        width: 100%;
        height: 700px;
    }
    .midia1{
        width: 50%;
        height: 350px;
        float: left;
        background-color: #63724F;
        color: #475237;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 50px;
    }
}

@media screen and (max-width: 550px) {
   
.ImagemPrincipal{
    width: 100%;
    height: 600px;
    position: relative;
}
.TextoEmcimaImagem{
        position: absolute; 
        top: 80px; 
        left: 50PX; 
        right: 50px;
        background-color: rgba(99, 114, 79, 0.7); 
        padding: 60px; 
        z-index: 1; 
        text-transform: uppercase;
        font-size: 50px;
        border-radius: 50px;
}
    .ParteSobreDoacao{
        width: 100%;
        height: 1200;
        display: block;
    }
    .ParteUMQuemSomos{
        width: 100%;
        height: 450PX;
    }
    .TituloQuemSomos{
        color: #63724F;
        font-size: 30px;
        margin-top: 40px ;
        width: 100%; 
        margin-left: 7%;
    }
    .TextoQuemSomosEDepe{
        color: #475237;
        font-size: 25px;
        text-align: justify;
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 2%;
        
    }
    .ParteDoisQuemSomos{
        width: 100%;
        height: 600px;
        float: left;
    }
    
    .img1ParteDoisQuemSomos{
        width:53%;
        overflow: hidden;
        margin-top: 5%;
        margin-left: 30%;
    }
    .img2ParteDoisQumSomos{
        width:70%;
        overflow: hidden;
        margin-top: 1%;
        margin-left: 15%;
    }
    
.DepoimentoPessoa{
    margin-top: -300px;
    width:100%;
    height:auto;
    float:left;
}

.ParteImgDepoimento{
    width:100%;
    height:auto;
    float:left;
}

.midia1{
    margin-top: -270px;
    width: 100%;
    height: auto;
    float: left;
    background-color: #63724F;
    color: #475237;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 55px;
}
.midia2{
    width: 100%;
}
.LogoInstagram{
    width: 50px;
    height: 50px;
}
.LogoFecebook{
    width: 50px;
    height: 50px;
}
.LogoWhatsapp{
    width: 50px;
    height: 50px;
}

.escritasAoLadoDoMapaDeLocalizacao{
    width: 100%;
    height: 400px;
}
.tituloVenha{
    font-size: 50px;
    color: #475237;
    margin-top: 30px ;
    margin-left: 50px;
}
.imgiconMapa{
    margin-left: 90px;
    margin-top: 30px;
    cursor: pointer;
}
.imgiconMapa:hover{
    transition: 1.0s;
    transform: scale(1.2);
}
.textoems{
    width:100%;
    height:200px;
    color: #475237;
    font-size: 20px;
    padding-left: 50px;
}
.mapa{
    width: 90%;
    height: 400px;
}
.mapa iframe{
    margin-left: 50px;
}

}

@media screen and (max-width: 800px) {
   
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #63724F;
        height: 100vh;
        width: 50%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 999;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: black;
    }

/*__________________*/

 
    .ParteSobreDoacao{
        width: 100%;
        height: 1200;
        display: block;
    }
    .ParteUMQuemSomos{
        width: 100%;
        height: 450PX;
    }
    .TituloQuemSomos{
        color: #63724F;
        font-size: 30px;
        margin-top: 90px ;
        width: 100%; 
        margin-left: 7%;
    }
    .TextoQuemSomosEDepe{
        color: #475237;
        font-size: 25px;
        text-align: justify;
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 2%;
        
    }
    .ParteDoisQuemSomos{
        width: 100%;
        height: 600px;
        float: left;
    }
    
    .img1ParteDoisQuemSomos{
        width:53%;
        overflow: hidden;
        margin-top: 5%;
        margin-left: 30%;
    }
    .img2ParteDoisQumSomos{
        width:70%;
        overflow: hidden;
        margin-top: 1%;
        margin-left: 15%;
    }
    
.DepoimentoPessoa{
    margin-top: -300px;
    width:100%;
    height:auto;
    float:left;
}

.ParteImgDepoimento{
    width:100%;
    height:auto;
    float:left;
}

.midia1{
    margin-top: -270px;
    width: 100%;
    height: auto;
    float: left;
    background-color: #63724F;
    color: #475237;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 55px;
}
.midia2{
    width: 100%;
    
}
.LogoInstagram{
    width: 50px;
    height: 50px;
}
.LogoFecebook{
    width: 50px;
    height: 50px;
}
.LogoWhatsapp{
    width: 50px;
    height: 50px;
}

.escritasAoLadoDoMapaDeLocalizacao{
    width: 100%;
    height: 400px;
}
.tituloVenha{
    font-size: 50px;
    color: #475237;
    margin-top: 30px ;
    margin-left: 50px;
}
.imgiconMapa{
    margin-left: 90px;
    margin-top: 30px;
    cursor: pointer;
}
.imgiconMapa:hover{
    transition: 1.0s;
    transform: scale(1.2);
}
.textoems{
    width:100%;
    height:200px;
    color: #475237;
    font-size: 20px;
    padding-left: 50px;
}
.mapa{
    width: 90%;
    height: 400px;
}
.mapa iframe{
    margin-left: 50px;
}



/* ---------------------- */

.rodape{
    width: 100%;
    height: 160px;
}

.rodapeP1{
    width: 60%;
    height: auto;
    margin-left: 20px;
    margin-top: 7px;
}
.rodapeP2{
    width: 30%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}   

}



    
